<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-8 col-sm-12 text-center">
            <img *ngIf="getMovieDetailResult.Poster" [src]="getMovieDetailResult.Poster" alt="Movie Poster">
            <div *ngIf="getMovieDetailResult.Genre" class="genre-list mt-4 mb-4 cursor-pointer">
                <span class="genre text-center"
                    *ngFor="let g of getMovieDetailResult.Genre.split(',', 3)">{{trim(g)}}</span>

            </div>
        </div>
        <div class="col-lg-5 movie-details mt-2">
            <ul>
                <li>
                    <b>Title: </b> {{getMovieDetailResult.Title }} ( {{getMovieDetailResult.Year}} )
                </li>
                <li>{{getMovieDetailResult.Plot}}</li>
                <li><b>Released: </b> {{getMovieDetailResult.Released}}</li>
                <li><b>Writer: </b> {{getMovieDetailResult.Writer}}</li>
                <li><b>Director: </b> {{getMovieDetailResult.Director}}</li>
                <li><b>Duration: </b> {{getMovieDetailResult.Runtime}}</li>
                <li><b>Rating: </b> {{getMovieDetailResult.imdbRating}} <img class="pb-1" src="../assets/star.svg"></li>
                <a href="https://www.imdb.com/title/{{getMovieDetailResult.imdbID}}" target="_blank">
                    <img class="mt-2" src="../assets/imdb.png" width="100px">
                </a>
            </ul>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary" routerLink="/">Home</button>
        </div>
    </div>
</div>